.orgListItemWrapper {
    border: solid 1px black;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-indent: 5px;
}

.orgListItemHeader {
    border: solid 1px orange;
    background-color: orange;
    color: white;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.toggleIcon {
    border: solid 1px white;
    background-color: orange;
    color: white;
    width: 23px;
    position: absolute;
    right: 5px;
}